Repository tomd0627/tom-deluca-dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,ts,astro}": ["eslint --fix", "prettier --write"],
  "*.{css,scss}": ["stylelint --fix", "prettier --write"],
  "*.json": ["prettier --write"]
}

- updated heading hiearchy for accessibility. - used full project names on cards.
  src/components/sections/MyProjects.astro
  src/components/sections/ValueProposition.astro
  src/styles/base/_button-list.scss
  src/styles/components/_project-card-list.scss
  src/styles/components/_skill-card-list.scss
Due: eslint --fix, prettier --write, stylelint --fix

- updated resume. - updated Value card placement on desktop. - updated Skill and Experience card list padding.
  public/files/Tom_DeLuca_Resume_Front_End.pdf
  src/styles/components/_experience-card-list.scss
  src/styles/components/_skill-card-list.scss
  src/styles/components/_value-card-list.scss
Due: prettier --write, stylelint --fix

- copy updates.
  src/components/sections/AboutMe.astro
  src/components/sections/Experience.astro
  src/components/sections/Hero.astro
  src/components/sections/MyLinks.astro
  src/components/sections/MyProjects.astro
  src/components/sections/MySkills.astro
Due: eslint --fix, prettier --write

- updated resume.
  public/files/Tom_DeLuca_Resume_Office_Clerical.pdf
Due: none

- copy updates.
  src/components/sections/Experience.astro
  src/components/sections/Hero.astro
  src/components/sections/MyLinks.astro
  src/pages/index.astro
Due: eslint --fix, prettier --write

- copy update. - fixed Biome dependency. - ran security check.
  package-lock.json
  package.json
  src/components/layout/Header.astro
  src/layouts/Layout.astro
  src/layouts/LayoutFullHeight.astro
  src/scripts/_formValidation.js
  src/scripts/init.js
Due: eslint --fix, prettier --write

- fixed dir="rtl" issues
  src/styles/base/_base.scss
  src/styles/base/_form.scss
  src/styles/base/_mixins.scss
  src/styles/base/_section.scss
  src/styles/layout/_footer.scss
  src/styles/layout/_header.scss
Due: prettier --write, stylelint --fix

- added permissions for Claude.
  .claude/settings.local.json
Due: prettier --write

- added tabindex to main element to properly implement "skip to content" link.
  src/layouts/Layout.astro
  src/layouts/LayoutFullHeight.astro
Due: eslint --fix, prettier --write

deps: update @biomejs/biome@2.4.11, @typescript-eslint/eslint-plugin@8.58.2, @typescript-eslint/parser@8.58.2, astro@6.1.6, eslint-plugin-astro@1.7.0, gsap@3.15.0, prettier@3.8.2, stylelint@17.7.0
  package-lock.json
  package.json
Due: prettier --write

deps: update @astrojs/check@0.9.9, @biomejs/biome@2.4.14, @typescript-eslint/eslint-plugin@8.59.1, @typescript-eslint/parser@8.59.1, astro@6.2.2, eslint@10.3.0, prettier@3.8.3, stylelint@17.10.0
  package-lock.json
  package.json
Due: prettier --write

deps: update @typescript-eslint/eslint-plugin@8.59.2, @typescript-eslint/parser@8.59.2
  package-lock.json
  package.json
Due: prettier --write

deps: update stylelint@17.11.0
  package-lock.json
  package.json
Due: prettier --write

deps: update @biomejs/biome@2.4.15, @typescript-eslint/eslint-plugin@8.59.4, @typescript-eslint/parser@8.59.4, astro@6.3.7, eslint@10.4.0, lint-staged@17.0.5, stylelint@17.12.0
  package-lock.json
  package.json
Due: prettier --write

deps: update @biomejs/biome@2.4.16, @typescript-eslint/eslint-plugin@8.60.0, @typescript-eslint/parser@8.60.0, astro@6.4.2, eslint@10.4.1, lint-staged@17.0.7
  package-lock.json
  package.json
Due: prettier --write

deps: update @typescript-eslint/eslint-plugin@8.60.1, @typescript-eslint/parser@8.60.1, astro@6.4.4, stylelint@17.13.0
  package-lock.json
  package.json
Due: prettier --write

deps: automated dependency updates (security)
  package-lock.json
  package.json
Due: prettier --write

deps: update @biomejs/biome@2.5.2, @typescript-eslint/eslint-plugin@8.62.1, @typescript-eslint/parser@8.62.1, astro@7.0.6, prettier@3.9.4
  package-lock.json
  package.json
Due: prettier --write
